body { 
    width: 99%;
    margin: auto; 
	padding: 0;
	margin-bottom: 3em;
	font-family: Arial, Verdana, sans-serif;
    background: white url(../images/bg_gradient.jpg) repeat-x left top;
}
body.section_home {
    /* keep the homepage from getting too wide on big screens */
    max-width: 70em;
}
td#header {
	padding:12px 0;
}

#header_left {
    float: left;
}
#header_right {
	padding-top:12px;
    float: right;
}
#header_right h1{
	color:#006699;
	text-align: right;
	font-size:210%;
	font-weight:normal;
	font-family:Times, Georgia, serif;
	margin:0 0 6px 0;	
}
#header_right #strapline {
	color:#007CB9;
    text-align: right;
	text-transform:uppercase;
    font-size: 75%;
	margin:0;
}
img{
    border:0;
}
a{
	color: #0083C1;
	text-decoration: none;
}
a:link {
    color: #0083C1;
}
a:hover {
    color: #000000;
}
a img{
    border:0;
}
h1 { 
    color:#006699;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 130%;
}
h2 { 
    color:#006699;
    font-size: 150%;
	font-family:Calibri, Arial, sans-serif;
	font-weight:normal;
	margin-top: 0;
	margin-bottom: .5em;
}
h3 {
    font-size: 100%;
    font-weight: normal;
}

li {
    list-style-type: circle;
    padding-top: 3px;
}
ul {
	margin: 12px 0;
    padding-left: 16px;
}
#content{
	padding-top: .5em;
    padding-bottom: 1em;
    padding-left: .5em;
}
#content li{
	font-size:90%;
}
.section_home #content ul {
    padding-left: 1.5em;
}
.search{
    vertical-align: center;
}
#searchtitle {
    margin-top: 2px;
    margin-bottom: 0px;
    float: right;
    display: inline;
}
#searchfield{
	width:200px;
}
.big { 
    font-size: 200%;
    font-family: Times;
}
p {
    font-size: 90%;
}
p img{
	vertical-align:middle;
}
table#wrapper { margin: auto; }
img.border { border: none }
td#search { 
    text-align: center;
    padding-bottom: 20px;
}
td {
    padding: 4px 0;
    vertical-align: top;
}
.third{
    width: 30%;
    padding-right: 3%;
}
/* nav */
#menubar_holder {
	/*background: #006699 url(../images/menubar_highlight.png) repeat-x left top;*/
	background: #006699;
	color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.menubar{
	margin:0;
	padding:0;
}
.menubar li{
	list-style:none;
	float:left;
}
.menubar li a {
	display:block;
    padding: 5px 14px;
}
.menubar a:link, .menubar a:visited {
    color: white;
    text-decoration: none;
}
.menubar a:hover {
	color: #DBE7EC;
	text-decoration: underline;
}
form{
	margin:0;
	padding:0;
}
#searchbar{
	float:right;
	font-weight:bold;
	padding: 5px;
}

hr {
    border: 0;
    height: 1px;
    color: #006699;
    background-color: #006699;
    margin-top: 20px;
}
img.extlink{
    float: none;
    padding-left: 0.25em;
}
#footer{
	background: white url(../images/bg_gradient.jpg) repeat-x left top;
	padding:12px;
}
#footer_copyright{
    font-size: 80%;    
    float: left;
    vertical-align: top;
}
#footer_mirror{
    font-size: 90%;    
    float: right;
    vertical-align: top;
}

/* Ports page version tables */
table.os_version{
    border: 1px solid #999;
    width: 50%;
}
table.os_version th{
    background-color: #E3E3E3;
    padding-left: 5px;
    text-align: left;
}

