body { 
    width: 99%;
    margin: auto; 
	padding: 0;
	margin-bottom: 3em;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12pt;
    background: white;
}
img{
    border:0;
}
a img{
    border:0;
}
h1 { 
    color: #333333;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 130%;
}
h2 { 
    color: #333333;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 100%;
}

#searchtitle {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 120%;
}
li {
    list-style-type: circle;
    font-size: 90%;
    padding-top: 3px;
}
.search{
    vertical-align: center;
}
#searchtitle {
    float: right;
    display: inline;
}
#strapline {
    text-align: center;
    font-style: italic;
    vertical-align: center;
}
.big { 
    font-size: 200%;
    font-family: Times;
}
p {
    font-size: 90%;
}
table#wrapper { margin: auto; }
img.border { border: none }
td#search { 
    text-align: center;
    padding-bottom: 20px;
}
td {
    padding: 4px;
    vertical-align: top;
}
.third{
    width: 30%;
    padding-right: 3%;
}
.menubar {
    background: #006699;
    margin-top: 5px;
    height: 25px;
    color: #FFF;
} 
.menubar a {
    padding: 10px;
    font: bold 10pt Arial,Helvetica,sans-serif;
}
.menubar a:link, .menubar a:visited {
    color: white;
    text-decoration: none;
}
.menubar a:hover {
    color: #ff6600;
    text-decoration: underline;
}
hr {
    border: 0;
    width: 60%;
    height: 2px;
    color: #006699;
    background-color: #006699;
    margin-top: 20px;
}
img.extlink{
    float: none;
    padding-left: 0.25em;
}
#footer_copyright{
    font-size: 90%;    
    float: left;
    vertical-align: top;
}
#footer_mirror{
    font-size: 90%;    
    float: right;
    vertical-align: top;
}

/* Ports page version tables */
table.os_version{
    border: 1px solid #999;
    width: 50%;
}
table.os_version th{
    background-color: #E3E3E3;
    padding-left: 5px;
    text-align: left;
}

