
*: tpl/wrapper tpl/defaults style/cpan.html tpl/straps.html
SITES.html : SITES-list.html
index.html : recent.json cpan-stats.json
misc/cpan-faq.html : cpan-stats.json
src/README.html : perl_version_latest_stable.json perl_versions_latest.json perl_versions_earliest.json

misc/how-to-mirror.html : cpan-stats.json

# the dependency stuff doesn't know about wildcards in the values
ports/binaries.html : ports/oses/_template.tt_data \
    ports/oses/aix.tt_data ports/oses/centos.tt_data \
    ports/oses/cygwin.tt_data ports/oses/debian.tt_data \
    ports/oses/fedora.tt_data ports/oses/hpux.tt_data \
    ports/oses/linux.tt_data ports/oses/mac_osx.tt_data \
    ports/oses/openbsd.tt_data \
    ports/oses/redhat.tt_data ports/oses/slackware.tt_data \
    ports/oses/solaris.tt_data ports/oses/suse.tt_data \
    ports/oses/ubuntu.tt_data ports/oses/win32.tt_data
