ignore = \.svn
ignore = ^#
ignore = ~$
ignore = .DS_Store
ignore = \.tt$

depend *=tpl/wrapper,tpl/defaults,style/cpan.html,tpl/straps.html
depend SITES.html=SITES-list.html
depend index.html=recent.json,cpan-stats.json
depend misc/cpan-faq.html=cpan-stats.json

copy = \.(gif|png|pdf|jpg)$

#verbose

recurse

pre_process = tpl/defaults
process     = tpl/wrapper

src  = ${SRC}
dest = html
lib  = lib
lib  = data
