ignore = \.svn
ignore = ^#
ignore = ~$
ignore = .DS_Store
ignore = \.tt$
ignore = \.swp$

depend_file = dependencies.rc

copy = \.(gif|png|pdf|jpg|svg)$

#verbose

recurse

pre_process = tpl/defaults
process     = tpl/wrapper

lib  = lib
lib  = data
